@font-face {
    font-family: 'Banny';
    src: url('Banny-Round.woff2') format('woff2'),
        url('Banny-Round.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Banny';
    src: url('Banny-LightRound.woff2') format('woff2'),
        url('Banny-LightRound.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Banny';
    src: url('Banny-BoldRound.woff2') format('woff2'),
        url('Banny-BoldRound.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

